#mj table.table th.vert {
    white-space: nowrap;
    text-align: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#mj table.table th.vert p {
    margin: 0 -100%;
    display: inline-block;
}

#mj table.table th.vert p:before {
    content: '';
    width: 0;
    padding-top: 110%;
    display: inline-block;
    vertical-align: middle;
}

#mj table.table td {
    vertical-align: middle;
}

#mj td .link {
    cursor: pointer;
    display: block;
    text-align: center;
}
